:root {
    --primary-color: #2358F7;
    --secondary-color: #59B13E;
    --background-color: #ffffff;
    --text-color: #000000;
    --card-background: #fff;
    --card-border: #ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header{
    display: flex;
    justify-content: space-between;
    padding:  1rem;
    align-items: center;
}

header ul{
    list-style-type: none;
    display: flex;
    gap:1rem;
    cursor: pointer;
    
}

.header_nav{
    
    text-decoration: none;
}

#intro{
    /* color: #fff; */
    padding: 4rem 1 rem;
    text-align: center;
    margin-top: 2em;
}

h1 span{
    color:var(--primary-color);
}

button{
    background-color: var(--primary-color);
    color:var(--background-color);
    font-size: 1em;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
}

.content{
    max-width: 600px;
    margin: 0 auto;
}

#intro h1{
    font-size: 2.5em;
    margin-bottom: 1em;  
}

#intro p{
    font-size: 1.25em;
    margin-bottom: 2em;
}

#services{

    padding: 2em 1em;
    text-align: center;
}

#services h2{
    font-size: 2em;
    margin-bottom: 1.5em;
    color: var(--text-color);
}

.card{
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    padding: 1em;
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--secondary-color);
    text-align: left;
    max-width: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card img{
    width:100%;
    border-bottom:1px solid var(--card-border) ;
    margin-bottom: 1 em;
    b
}

#get_started{
    text-align: center;
    padding: 2em 1em;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

footer{
    border: 2px solid pink;
    text-align: center;
    padding: 1em;
    background-color: var(--primary-color);
    color:#fff;
    position:fixed;
    width: 100%;
    bottom: 0;
}

#logo{
    width: 3em;
}



/* for samller screens stack the card */