:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #333;
    --card-background: #fff;
    --card-border: #ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding:  1rem;
    align-items: center;
}

header ul{
    list-style-type: none;
    display: flex;
    gap:1rem;
    cursor: pointer;
}

.header_nav{
    color: #fff;
    text-decoration: none;
}

#intro{
    /* color: #fff; */
    padding: 4rem 1 rem;
    text-align: center;
}

.content{
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid red; /*to remove*/
}